<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.TAttributePropertyMappingMapper">
  <resultMap id="BaseResultMap" type="com.mall.model.TAttributePropertyMapping">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="attribute_id" jdbcType="INTEGER" property="attributeId" />
    <result column="property_id" jdbcType="INTEGER" property="propertyId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, attribute_id, property_id
  </sql>

  <select id="selectByMapping" resultMap="BaseResultMap" parameterType="com.mall.model.TAttributePropertyMapping">
    select
    <include refid="Base_Column_List" />
    from t_attribute_property_mapping
    WHERE 1=1
    <if test="id != null">
      and id = #{id}
    </if>
    <if test="attributeId != null">
      and attribute_id = #{attributeId}
    </if>
    <if test="propertyId != null">
      and property_id = #{propertyId}
    </if>
  </select>

  <select id="selectPropertyIdByAttributeId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT property_id FROM t_attribute_property_mapping WHERE attribute_id = #{attributeId}
  </select>

  <delete id="deleteByMapping" parameterType="com.mall.model.TAttributePropertyMapping">
    delete from t_attribute_property_mapping
    where 1=1
    <if test="id != null">
      and id = #{id}
    </if>
    <if test="attributeId != null">
      and attribute_id = #{attributeId}
    </if>
    <if test="propertyId != null">
      and property_id = #{propertyId}
    </if>
  </delete>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.mall.model.TAttributePropertyMapping">
    insert into t_attribute_property_mapping (attribute_id, property_id)
    values (#{attributeId,jdbcType=INTEGER}, #{propertyId,jdbcType=INTEGER})
  </insert>

  <insert id="insertBatch" parameterType="com.mall.model.TAttributePropertyMapping">
    insert into t_attribute_property_mapping (attribute_id, property_id)
    values
    <foreach collection ="list" item="mapping" separator =",">
      (#{mapping.attributeId}, #{mapping.propertyId})
    </foreach >
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.mall.model.TAttributePropertyMapping">
    update t_attribute_property_mapping
    set attribute_id = #{attributeId,jdbcType=INTEGER},
      property_id = #{propertyId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>