<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.TBrandMapper">
  <resultMap id="baseResultMap" type="com.mall.model.TBrand">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="first_char" jdbcType="INTEGER" property="firstChar" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="brand_company" jdbcType="VARCHAR" property="brandCompany" />
    <result column="brand_logo" jdbcType="VARCHAR" property="brandLogo" />
    <result column="brand_big_icon" jdbcType="VARCHAR" property="brandBigIcon" />
    <result column="show" jdbcType="INTEGER" property="show" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.mall.model.TBrand">
    insert into t_brand (`name`, first_char,
      order_num, brand_company, brand_logo, 
      brand_big_icon, `show`, create_time,
      update_time)
    values (
      #{name,jdbcType=VARCHAR},
      #{firstChar,jdbcType=INTEGER},
      #{orderNum,jdbcType=INTEGER},
      #{brandCompany,jdbcType=VARCHAR},
      #{brandLogo,jdbcType=VARCHAR},
      #{brandBigIcon,jdbcType=VARCHAR},
      #{show,jdbcType=INTEGER},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="update" parameterType="com.mall.model.TBrand">
    update
      t_brand
    set
      `name`=#{name},
      first_char=#{firstChar},
      order_num=#{orderNum},
      brand_company=#{brandCompany},
      brand_logo=#{brandLogo},
      brand_big_icon=#{brandBigIcon},
      `show`=#{show,jdbcType=INTEGER},
      create_time=#{createTime},
      update_time=#{updateTime}
    where id =#{id}
  </update>

  <select id="getAll" resultMap="baseResultMap">
    SELECT * FROM t_brand
  </select>
  <select id="getById" resultMap="baseResultMap">
    SELECT * FROM t_brand WHERE id=#{id}
  </select>

  <delete id="delete" parameterType="java.lang.Integer">
    delete FROM t_brand WHERE id =#{id}
  </delete>
</mapper>