<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.TPropertyMapper">
  <resultMap id="BaseResultMap" type="com.mall.model.TProperty">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="properties" jdbcType="VARCHAR" property="properties" />
    <result column="property_type" jdbcType="INTEGER" property="propertyType" />
    <result column="need_pic" jdbcType="INTEGER" property="needPic" />
    <result column="attribute_id" jdbcType="INTEGER" property="attributeId" />
    <result column="select_model" jdbcType="INTEGER" property="selectModel" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, attribute_id,property_type,need_pic,`name`, `properties`, select_model,order_num, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_property
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKeyIn" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_property
    where id in
    <foreach collection="list" item="id" index="index" open="(" separator="," close=")">
      #{id}
    </foreach> ORDER BY order_num DESC
  </select>
  <select id="selectByTProperty" resultMap="BaseResultMap" parameterType="com.mall.model.TProperty">
    select
    <include refid="Base_Column_List" />
    from t_property
    WHERE 1=1
    <if test="id != null">
      and id = #{id}
    </if>
    <if test="attributeId != null">
      and attribute_id = #{attributeId}
    </if>
    <if test="propertyType != null">
      and property_type = #{propertyType}
    </if>
    <if test="name != null and name !=''">
      and `name` LIKE '%${name}%'
    </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_property
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="com.mall.model.TProperty">
    insert into t_property (
      attribute_id,property_type,need_pic,`name`, properties,select_model,order_num, create_time, update_time
      )
    values (
      #{attributeId},#{propertyType},#{needPic},#{name,jdbcType=VARCHAR}, #{properties,jdbcType=VARCHAR},
      #{selectModel,jdbcType=INTEGER},#{orderNum,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mall.model.TProperty">
    update t_property
    set
      attribute_id = #{attributeId},
      property_type = #{propertyType},
      need_pic = #{needPic},
      `name` = #{name},
      properties = #{properties},
      select_model = #{selectModel},
      order_num = #{orderNum},
      update_time = #{updateTime}
    where id = #{id}
  </update>
</mapper>