<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.TTypeMapper">
  <resultMap id="baseResultMap" type="com.mall.model.TType">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="order" jdbcType="TINYINT" property="order" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <insert id="insert" parameterType="com.mall.model.TType" useGeneratedKeys="true" keyProperty="id">
    insert into t_type (name, `order`, unit, create_time, update_time)
    values (
      #{name,jdbcType=VARCHAR}, #{order,jdbcType=TINYINT},
      #{unit,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="update" parameterType="com.mall.model.TType">
    update
      t_type
    set
     name=#{name},`order`=#{order},unit=#{unit},create_time=#{createTime},update_time=#{updateTime}
    where id =#{id}
  </update>

  <insert id="insertSelective" parameterType="com.mall.model.TType">
    insert into t_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="order != null">
        order,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        #{order,jdbcType=TINYINT},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="getAll" resultMap="baseResultMap">
    SELECT * FROM t_type
  </select>
  <delete id="delete"  parameterType="java.util.List">
    delete FROM t_type WHERE id in
    <foreach item="id" collection="ids" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
</mapper>